---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResumeTimeline from '../components/ResumeTimeline.astro';
---

<BaseLayout title="Resume - Made By Gare">
  <div class="max-w-3xl mx-auto">
    <ResumeTimeline />
  </div>
</BaseLayout>
