<h3>Projects</h3>
<dl class="dl-horizontal">

  <dt><a href="https://github.com/gmjosack/gsh">gsh</a></dt>
  <dd>Gary's Shell. A Pluggable Distributed SSH Tool</dd>

  <dt><a href="https://github.com/gmjosack/pygerduty">pygerduty</a></dt>
  <dd>Python Client Library for PagerDuty</dd>

  <dt><a href="https://github.com/gmjosack/nss_http">nss_http</a></dt>
  <dd>NSS plugin for getting users over http</dd>

  <dt><a href="https://github.com/gmjosack/tattrdb">tattrdb</a></dt>
  <dd>Tag and Attribute Database for hosts</dd>

  <dt><a href="https://github.com/gmjosack/annex">annex</a></dt>
  <dd>Simple plugin system for Python programs</dd>

  <dt><a href="https://github.com/dropbox/trapperkeeper">trapperkeeper</a></dt>
  <dd>SNMP trap collection and aggregation system</dd>

  <dt><a href="https://github.com/dropbox/nsot">nsot</a></dt>
  <dd>Inventory for various components of your network</dd>

  <dt></dt>
  <dd><a href="https://github.com/gmjosack">More</a></dd>
</dl>
